<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Fizz-Buzz: 0 .. 100</title>
    </head>
    <body>
        <h1>Fizz-Buzz von 0 bis 100</h1>
        {% for item in output %}
            <p> {{ item }}</p>
        {% endfor %}
    </body>
</html>
